@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
:root {
	--xs: 0.25rem;
	--s: 0.5rem;
	--sm: 0.75rem;
	--m: 1rem;
	--l: 2rem;
	--xl: 4rem;
	--xxl: 8rem;
}
body {
	font-family: "Staatliches", cursive;
}
main {
	align-items: center;
	display: flex;
}

@media only screen and (max-width: 600px) {
	.main {
		flex-direction: column;
	}
}
