.filterbar-container {
	display: flex;
	flex-direction: column;

	bottom: 0;
}
.select-dropdown {
	color: #5109ad;
	background: white;
	width: 40vw;
	font-weight: 500;

	margin-left: 0.5rem;
	padding: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0rem black;
}
